@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8fafc;
}

@media print {
  body * {
    visibility: hidden;
  }
  #ticket-print, #ticket-print * {
    visibility: visible;
  }
  #ticket-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}